#pages:
#  stage: deploy
#  script:
#    - apt-get update -qq && apt-get install -y -qq bison python-dev asciidoc
#    - python ./waf configure --enable-doc --prefix=/tmp/docbot-local --htmldir=`pwd`/public/latest/ build install
#    - cp www/favicon.ico `pwd`/public
#    - cp docs/top.html.in `pwd`/public/index.html
#    - cp docs/top-asciidoc.css `pwd`/public/asciidoc.css
#  allow_failure: true
#  artifacts:
#    paths:
#      - public
##  only:
##    - master
#  tags:
#    - gitlab-org

#codequality:
#  stage: test
#  image: docker:latest
#  variables:
#    DOCKER_DRIVER: overlay
#  services:
#    - docker:dind
#  script:
#    - docker pull codeclimate/codeclimate
#    - docker run --env CODECLIMATE_CODE="$PWD" --volume "$PWD":/code --volume /var/run/docker.sock:/var/run/docker.sock --volume /tmp/cc:/tmp/cc codeclimate/codeclimate analyze -f json > codeclimate.json
#  allow_failure: true
#  artifacts:
#    paths: [codeclimate.json]
#  tags:
#    - docker

.job_template: &job_definition
  stage: build
  artifacts:
    expire_in: 7d
    paths:
      - build/main/attic/sht
      - build/main/ntpclients/ntpdig
      - build/main/ntpclients/ntpkeygen
      - build/main/ntpclients/ntpleapfetch
      - build/main/ntpclients/ntploggps
      - build/main/ntpclients/ntplogtemp
      - build/main/ntpclients/ntpmon
      - build/main/ntpclients/ntpq
      - build/main/ntpclients/ntpsweep
      - build/main/ntpclients/ntptrace
      - build/main/ntpclients/ntpviz
      - build/main/ntpclients/ntpwait
      - build/main/ntpd/ntpd
      - build/main/ntpfrob/ntpfrob

gitlab-basic:
  <<: *job_definition
  script:
    - apt-get update -qq && apt-get install -y -qq bison libcap-dev pps-tools python-dev
    - python ./waf configure build check
  tags:
    - gitlab-org

gitlab-refclocks:
  <<: *job_definition
  script:
    - apt-get update -qq && apt-get install -y -qq bison libcap-dev pps-tools python-dev
    - python ./waf configure --refclock=all build check
  tags:
    - gitlab-org

debian-wheezy-basic:
  <<: *job_definition
  script:
    - python ./waf configure build check
  tags:
    - debian-wheezy
  only:
    - branches@NTPsec/ntpsec

debian-wheezy-refclocks:
  <<: *job_definition
  script:
    - python ./waf configure --refclock=all build check
  tags:
    - debian-wheezy
  only:
    - branches@NTPsec/ntpsec

debian-jessie-basic:
  <<: *job_definition
  script:
    - python ./waf configure build check
  tags:
    - debian-jessie
  only:
    - branches@NTPsec/ntpsec

debian-jessie-refclocks:
  <<: *job_definition
  script:
    - python ./waf configure --refclock=all build check
  tags:
    - debian-jessie
  only:
    - branches@NTPsec/ntpsec

debian-stretch-basic:
  <<: *job_definition
  script:
    - python ./waf configure build check
  tags:
    - debian-stretch
  only:
    - branches@NTPsec/ntpsec

debian-stretch-refclocks:
  <<: *job_definition
  script:
    - python ./waf configure --refclock=all build check
  tags:
    - debian-stretch
  only:
    - branches@NTPsec/ntpsec

ubuntu-1404-lts-basic:
  <<: *job_definition
  script:
    - python ./waf configure build check
  tags:
    - ubuntu-1404-lts
  only:
    - branches@NTPsec/ntpsec

ubuntu-1404-lts-refclocks:
  <<: *job_definition
  script:
    - python ./waf configure --refclock=all build check
  tags:
    - ubuntu-1404-lts
  only:
    - branches@NTPsec/ntpsec

ubuntu-1604-lts-basic:
  <<: *job_definition
  script:
    - python ./waf configure build check
  tags:
    - ubuntu-1604-lts
  only:
    - branches@NTPsec/ntpsec

ubuntu-1604-lts-refclocks:
  <<: *job_definition
  script:
    - python ./waf configure --refclock=all build check
  tags:
    - ubuntu-1604-lts
  only:
    - branches@NTPsec/ntpsec

ubuntu-1710-basic:
  <<: *job_definition
  script:
    - python ./waf configure build check
  tags:
    - ubuntu-1710
  only:
    - branches@NTPsec/ntpsec

ubuntu-1710-refclocks:
  <<: *job_definition
  script:
    - python ./waf configure --refclock=all build check
  tags:
    - ubuntu-1710
  only:
    - branches@NTPsec/ntpsec

gcc-7-basic:
  <<: *job_definition
  image: gcc:7
  script:
    - apt-get update -qq && apt-get install -y -qq bison libcap-dev pps-tools python-dev
    - python ./waf configure build check
  tags:
    - gitlab-org

gcc-7-refclocks:
  <<: *job_definition
  image: gcc:7
  script:
    - apt-get update -qq && apt-get install -y -qq bison libcap-dev pps-tools python-dev
    - python ./waf configure --refclock=all build check
  tags:
    - gitlab-org

freebsd-10-basic:
  <<: *job_definition
  script:
    - python ./waf configure build check
  tags:
    - freebsd-10
  only:
    - branches@NTPsec/ntpsec

freebsd-10-refclocks:
  <<: *job_definition
  script:
    - python ./waf configure --refclock=all build check
  tags:
    - freebsd-10
  only:
    - branches@NTPsec/ntpsec

freebsd-11-basic:
  <<: *job_definition
  script:
    - python ./waf configure build check
  tags:
    - freebsd-11
  only:
    - branches@NTPsec/ntpsec

freebsd-11-refclocks:
  <<: *job_definition
  script:
    - python ./waf configure --refclock=all build check
  tags:
    - freebsd-11
  only:
    - branches@NTPsec/ntpsec

centos-6-basic:
  <<: *job_definition
  image: centos:6
  script:
    - yum -y install bison gcc openssl-devel libcap-devel pps-tools-devel python-devel
    - python ./waf configure build check
  tags:
    - gitlab-org

centos-6-refclocks:
  <<: *job_definition
  image: centos:6
  script:
    - yum -y install bison gcc openssl-devel libcap-devel pps-tools-devel python-devel
    - python ./waf configure --refclock=all build check
  tags:
    - gitlab-org

centos-7-basic:
  <<: *job_definition
  image: centos:7
  script:
    - yum -y install bison gcc openssl-devel libcap-devel pps-tools-devel python-devel
    - python ./waf configure build check
  tags:
    - gitlab-org

centos-7-refclocks:
  <<: *job_definition
  image: centos:7
  script:
    - yum -y install bison gcc openssl-devel libcap-devel pps-tools-devel python-devel
    - python ./waf configure --refclock=all build check
  tags:
    - gitlab-org

fedora-26-basic:
  <<: *job_definition
  image: fedora:26
  script:
    - yum -y install bison gcc openssl-devel libcap-devel pps-tools-devel python-devel
    - python ./waf configure build check
  tags:
    - gitlab-org

fedora-26-refclocks:
  <<: *job_definition
  image: fedora:26
  script:
    - yum -y install bison gcc openssl-devel libcap-devel pps-tools-devel python-devel
    - python ./waf configure --refclock=all build check
  tags:
    - gitlab-org

fedora-27-basic:
  <<: *job_definition
  image: fedora:27
  script:
    - yum -y install bison gcc openssl-devel libcap-devel pps-tools-devel python-devel
    - python ./waf configure build check
  tags:
    - gitlab-org

fedora-27-refclocks:
  <<: *job_definition
  image: fedora:27
  script:
    - yum -y install bison gcc openssl-devel libcap-devel pps-tools-devel python-devel
    - python ./waf configure --refclock=all build check
  tags:
    - gitlab-org

python3:
  <<: *job_definition
  image: python:3
  script:
    - apt-get update -qq && apt-get install -y -qq bison libcap-dev pps-tools
    - python ./waf configure --refclock=all build check
  tags:
    - gitlab-org

python-coverage:
  <<: *job_definition
  script:
    - apt-get update -qq && apt-get install -y -qq bison python-dev python-coverage
    - python ./waf configure build check
    - for i in build/main/tests/pylib/test_*; do python-coverage run -a --source build/main/pylib $i; done
    - python-coverage report
  tags:
    - gitlab-org

clang-basic:
  <<: *job_definition
  script:
    - apt-get update -qq && apt-get install -y -qq bison libcap-dev pps-tools python-dev clang
    - python ./waf configure --check-c-compiler=clang build check
  tags:
    - gitlab-org

clang-refclocks:
  <<: *job_definition
  script:
    - apt-get update -qq && apt-get install -y -qq bison libcap-dev pps-tools python-dev clang
    - python ./waf configure --check-c-compiler=clang --refclock=all build check
  tags:
    - gitlab-org

