[Unit]
Description=Network Time Service
Documentation=man:ntpd(8)
Wants=network.target
ConditionVirtualization=!container
ConditionCapability=CAP_SYS_TIME
After=network.target nss-lookup.target
Conflicts=systemd-timesyncd.service

[Service]
Type=forking
PrivateTmp=true
ExecStart=/usr/sbin/ntpd -g -u ntp:ntp
Restart=always
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
