[Unit]
Documentation=man:ntplogtemp(1)
Description=Temperature information logger for ntpviz

[Service]
Type=simple
ExecStart=/usr/bin/ntplogtemp -o -l /var/log/ntpstats/temps
