[Unit]
Description=Run ntploggps every five minutes
Requisite=gpsd.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=gpsd.service
