[Unit]
Documentation=man:ntploggps(1)
Description=GPS information logger for ntpviz
Requisite=gpsd.service
After=gpsd.service

[Service]
Type=simple
ExecStart=/usr/bin/ntploggps -o -l /var/log/ntpstats/gpsd
