[Unit]
Documentation=man:ntpviz(1)
Description=Graph daily information for NTP
Requisite=ntpd.service

[Service]
Type=simple
IOSchedulingClass=idle
ExecStart=/usr/bin/ntpviz -w l -p 1 -o /var/www/localhost/htdocs/day
